body {
  font-family: Arial;
  font-size: 1rem;
  line-height: 1.6;
  margin: auto;
  max-width: 1200px;
  padding: 1em;
}

h1 {
  text-align: center;
}

ul {
  padding-left: 1em;
}

table {
  table-layout: fixed;
  width: 100%;
}

table td {
  border-radius: 1em;
  box-shadow: 0 0 20px #eee;
  padding: 1em;
  vertical-align: top;
}
